@using System.Web;
@using Salud.Ocupacional.BE;
@model ArchivoBE.ResponseArchivoBE

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Script/WizardJs")

@using (Ajax.BeginForm("RegistrarArchivo", "Archivo"
    , new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "frmArchivo" }
    , new { id = "frmArchivo", enctype = "multipart/form-data" }))
{
    <div class="modal-register">
        <div class="col-md-11">
            <div class="modal-title letra-acl Alert-Head" id="myModalLabel">
                <i class="mdi Alert-Head mdi-bulletin-board"></i> Subir archivo
            </div>
        </div>
        <div class="col-md-1">
            <button type="button" class="close Alert-Head" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div id="asistente" class="form_wizard wizard_horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon contenido-rojo"><span class="mdi mdi-domain" aria-hidden="true"></span></span>
                                    @Html.DropDownListFor(m => m.IDCompany, new SelectList(Model.LCompany, "IDCompany", "Name"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon contenido-rojo"><span class="mdi mdi-blur" aria-hidden="true"></span></span>
                                    @Html.DropDownListFor(m => m.IdContract, new SelectList(Model.LContract, "IDContract", "DraegerUser"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon contenido-rojo"><span class="mdi mdi-worker" aria-hidden="true"></span></span>
                                    @Html.DropDownListFor(m => m.IdTrabajador, new SelectList(Model.LTrabajador, "IdTrabajador", "Name"), new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="file" name="ArchivoCargado" accept=".csv" required />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="ValidaInputs('frmArchivo');" class="btn btn-danger"><i class="fa fa-upload"></i> Subir</button>
                        @*<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-mail-forward"></i></button>*@
                    </div>
                </div>
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Message != null)
        {
            <span class="field-validation-error">@ViewBag.Message</span>
        }
    </div>
    @*@Html.TextBoxFor(m => m.FechaRegistro, "True", new { @class = "HiddenFor" })*@

}