@model WebSaludOcupacional.Models.MantenimientoModel.MantenimientoImpresoraModel

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row" role="main">
    @using (Html.BeginForm())
    {
        <h3 class="letra-marron"><i class="fa fa-gears"></i> Mantenimiento de Impresoras</h3>
        @Html.AntiForgeryToken()
        <hr />
        <div class="col-md-2 col-md-offset-10">
            <button type="button" class="btn btn-danger btn-sm custom-btn" id="regNuevo" name="regNuevo"
                    data-targeturl="@Url.Action("RegistrarImpresora", "Mantenimiento")">
                <i class="fa fa-plus"></i> Agregar
            </button>
        </div>
        <div class="col-md-12"><br /></div>
        @*<div class="list-group center-block">
                @foreach (var r in Model.lUsuarios)
                {
                    <a href="" data-targeturl="@Url.Action("DatosUsuario", "Mantenimiento", new { id = r.IdUsuario})" class="list-group-item-heading list-group-item-warning col-md-4 col-xs-12 details" style="border-right:4px solid #fff">
                        <div class="col-md-9" style="height:100px;">
                            <div class="col-md-12">
                                <h4 class="letra-acl"><i class="fa fa-user"></i> @r.NombreCompleto</h4>
                            </div>
                            <div class="col-md-12 letra-marron-2">
                                @r.NombreLogin
                            </div>
                            <div class="col-md-12 ">
                                @r.Perfil
                            </div>
                        </div>
                        <div class="col-md-3"><br /><i class="fa fa-pencil icono-usuario"></i></div>
                    </a>
                }
            </div>*@
        <div class="col-md-offset-1 col-md-10 panel-body">
            <table class="table table-hover" id="tbUsurios">
                <thead>
                    <tr>
                        <th class="contenido-rojo">Descripcion</th>
                        <th class="contenido-rojo">IP</th>
                        <th class="contenido-rojo">Centro</th>
                        <th class="contenido-rojo"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in Model.lImpresoras)
                    {
                    <tr class="odd">
                        <td class="letra-marron">@r.Descripcion</td>
                        <td class="letra-marron">@r.IP</td>
                        <td class="letra-marron">@r.Centro.Nombre</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs custom-btn details"
                                    data-target="@Url.Action("DatosImpresora", "Mantenimiento", new { id = r.IdImpresora})"
                                    data-targeturl="@Url.Action("DatosImpresora", "Mantenimiento", new { id = r.IdImpresora})">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    }

</div>

<!-- Modal -->
<div id="modal-registro" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="overflow-y:auto;">

</div>

<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" style="overflow-y:auto;">

</div>

<script type="text/javascript">
    if (typeof NProgress != 'undefined') {
        NProgress.set(0.3)
        $(document).ready(function () {
            NProgress.done();
        });
    }

    var table = '';
    $(document).ready(function () {
        table = $('#tbUsurios').DataTable({
            'paging': false
        });

    });

    $("#regNuevo").on('click', function (e) {
        console.log('click');
        e.preventDefault();
        $("#modal-registro").remove();
        $.get($(this).data("targeturl"), function (data) {
            $('<div id="modal-registro" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y:auto;" >' +
                '<div class="modal-dialog " role="document">' +
                    '<div class="modal-content" id= "modalbody" >' +
                        data + '</div></div>').modal('show');
        });
    });

    $(".details").on('click', function (e) {
        //debugger;
        console.log('click');
        e.preventDefault();
        $("#modal-container").remove();
        $.get($(this).data("target"), function (data) {
            $('<div id="modal-container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow-y:auto;" >' +
                '<div class="modal-dialog " role="document">' +
                    '<div class="modal-content" id= "modalbody" >' +
                        data + '</div></div>').modal('show');
        });
    });
</script>
