
@using Salud.Ocupacional.BE;
@model MarcaModeloBE.ResponseMarcaModeloBE

@using (Ajax.BeginForm("DatosMarcaModelo", "MarcaModelo"
    , new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "frmMarcaModeloM" }
    , new { id = "frmMarcaModeloM", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-modificar">
        <div class="col-md-11">
            <div class="modal-title letra-acl Alert-Head" id="myModalLabel">
                <i class="mdi Alert-Head mdi-bulletin-board"></i> Editar Marca & Modelo
            </div>
        </div>
        <div class="col-md-1">
            <button type="button" class="close Alert-Head" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon contenido-rojo"><span class="mdi mdi-relative-scale" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(m => m.Brand, new { value = "", autocomplete = "new-password", @placeholder = "Marca", @class = "form-control", @id = "txtMarca", @Title = "Marca" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon contenido-rojo"><span class="mdi mdi-burst-mode" aria-hidden="true"></span></span>
                        @Html.TextBoxFor(m => m.Model, new { value = "", autocomplete = "new-password", @placeholder = "Modelo", @class = "form-control", @id = "txtModelo", @Title = "Modelo" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" onclick="ValidaInputs('frmMarcaModeloM');" class="btn btn-danger"><i class="fa fa-save"></i> Guardar</button>
    </div>
    @Html.TextBoxFor(m => m.ID, new { value = @Model.ID, @class = "HiddenFor" })
    @Html.TextBoxFor(m => m.Activo, "true", new { value = "true", @class = "HiddenFor" })
}
