
@using Salud.Ocupacional.BE;
@model MarcaModeloBE.ResponseMarcaModeloBE

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Script/WizardJs")

@using (Ajax.BeginForm("RegistrarMarcaModelo", "MarcaModelo"
    , new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "frmMarcaModeloR" }
    , new { id = "frmMarcaModeloR", enctype = "multipart/form-data" }))
{
    <div class="modal-register">
        <div class="col-md-11">
            <div class="modal-title letra-acl Alert-Head" id="myModalLabel">
                <i class="mdi Alert-Head mdi-bulletin-board"></i> Registrar una nueva Marca & Modelo
            </div>
        </div>
        <div class="col-md-1">
            <button type="button" class="close Alert-Head" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div id="asistente" class="form_wizard wizard_horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon contenido-rojo"><span class="mdi mdi-relative-scale" aria-hidden="true"></span></span>
                                    @Html.TextBoxFor(m => m.Brand, new { value = "", autocomplete = "new-password", @placeholder = "Marca", @class = "form-control", @id = "txtMarca", @Title = "Marca" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon contenido-rojo"><span class="mdi mdi-burst-mode" aria-hidden="true"></span></span>
                                    @Html.TextBoxFor(m => m.Model, new { value = "", autocomplete = "new-password", @placeholder = "Modelo", @class = "form-control", @id = "txtModelo", @Title = "Modelo" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="ValidaInputs('frmMarcaModeloR');" class="btn btn-danger"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Message != null)
        {
            <span class="field-validation-error">@ViewBag.Message</span>
        }
    </div>
    @Html.TextBoxFor(m => m.Activo, "True", new { @class = "HiddenFor" })

}