@model WebSaludOcupacional.Models.LoginModel

@{
    Layout = null;
    ViewBag.Title = "Olvido Contraseña";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/favicon-32x32.png" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/assets")
    <!-- Custom CSS -->
    @Styles.Render("~/Content/css2")
</head>
<body class="login-page">
    @using (Html.BeginForm("Password", "Login", FormMethod.Post, new { @id = "login-form" }))
    {
        <div class="login-box">
            @Html.AntiForgeryToken()
            <div class="logo">
                <a href="javascript:void(0);">Admin<b>GSO</b></a>
                <small>GESTIÓN DE SALUD OCUPACIONAL</small>
            </div>
            @*<img src="@Url.Content("~/Content/Imagenes/logofondo.jpg")" style="position:absolute">*@
            <div class="card">
                <div class="body">
                    <form id="forgot_password" method="POST">
                        <div class="msg">

                            Ingrese su dirección de correo electrónico que utilizó para registrarse. Le enviaremos un correo electrónico con su nombre de usuario y un enlace para restablecer su contraseña.
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-line">
                                @*<input type="email" class="form-control" name="email" placeholder="Email" required autofocus>*@
                                @Html.TextBoxFor(m => m.Correo, new { @placeholder = "E-mail", @autocapitalize = "off", @class = "form-control" })
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
                        <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">ENVIAR</button>

                    </form>
                    <div class="col-md-12">
                        @if (ViewBag.Notifica == 2)
                        {
                            <span class="field-validation-error">No Se pudo Notificar al Correo registrado</span>
                        }
                        else if (ViewBag.Notifica == 1)
                        {
                            <span class="field-validation-error">Se notificó correctamente al correo electrónico indicado.</span>
                        }
                        <br />
                    </div>
                </div>
            </div>
        </div>
    }

    <!--stickey kit -->
    @Styles.Render("~/bundles/jquery2")
    <!-- Chart JS -->
    @Styles.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        //if (typeof NProgress != 'undefined') {
        //    NProgress.start();
        //    $(document).ready(function () {
        //        NProgress.done();
        //    });
        //}
        $('#login-form').submit(function () {
            NProgress.start();
            NProgress.done();
        });

    </script>
    <hr />
    <footer class="show-on-medium-and-up">
        <div class="footerWhite sparkline small">&copy; @DateTime.Now.Year -GESTIÓN DE SALUD OCUPACIONAL</div>
    </footer>

</body>
</html>
